@import './utils';

.gameUploadPreview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: $defaultTransition;

    &__preview {
        @include tablet {
            margin-bottom: -50px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        
    }

    &__noti {

        div {
            font-size: $font5;
            margin-bottom: 20px;
        }
        p {
            font-size: $font3;
            color: $fontGray;
        }
        @include tablet {
            text-align: center;

            div {
                font-size: $font2;
                margin-bottom: 10px;
            }
            p {
                font-size: 1rem;
            }
        }
    }

    &__btnArea {
        text-align: center;
    }
}