@import './utils';

.gameItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;
    transition: $defaultTransition;

    &:hover {
        .infoBox__title {
            color: $btnColor;
        }
    }

    @include mobile {
        flex-direction: column;
    }

    &__img {
        margin-right: 5%;
        border-radius: 15px;

        @include mobile {
            width: 100%;
            margin: 0px;
        }
    }

    &__infoBox {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        

        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__title {
        font-size: 3rem;
        transition: $defaultTransition;

        @include mobile {
            font-size: 2rem;
        }
    }

    &__like {
        font-size: 2rem;

        &.likeActive {
            transition: $defaultTransition;
            color: $fontWarning;
        }
        &.liekInactive {
            color: $fontGray;
        }
    }
    
    &__description {
        margin-bottom: 20px;
        font-size: $font2;
        
        @include mobile {
            font-size: 1rem;
            margin-bottom: 20px;
        }
    }
    &__releasedAt {
        margin-bottom: 20px;
        color: $fontGray;
    }
}