@import './utils.scss';

.guestProfile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    min-height: 100px;
    background-color: $bgGray;
    border-radius: 10px;
    
    span {
        color: $fontGray;
        font-weight: 800;
    }


    @include mobile {
        padding: 10px;
    }
}