@import './utils.scss';

.userProfile {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 40px;
    background-color: $bgGray;
    border-radius: 10px;

    &__info {
        min-width: 0;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    &__name {
        font-size: $font3;
        font-weight: 800;
        margin-bottom: 3px;
    }

    &__email {
        color: $fontGray;
    }

    @include mobile {
        padding: 10px;

        &__name {
            font-size: $font1;
        }
        &__email {
            font-size: 0.8rem;
        }
    }
}