@import './utils';

@keyframes slideUp {
    from {
        transform: translateY(100%); /* 아래에서 시작 */
    }
    to {
        transform: translateY(0); /* 위로 올라감 */
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}


.fullOverlayWrap {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;

    &.open {
        animation: slideUp 0.3s ease-out forwards;
    }

    &.close {
        animation: slideDown 0.3s ease-out forwards;
    }
    

    &__inner {
        width: 90%;
        height: 90%;
        margin: 0 auto;
        max-width: 1140px;
        max-height: 860px;
        padding-top: 20px;
        box-sizing: border-box;
        border: $border;
        border-radius: 15px;
        background-color: $bgColor;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 설정 */

        @include tablet {
            height: 80%;
        }
        @include mobile {
            height: 70%;
        }
    }

    &__content {
        width: 90%;
        margin: 0 auto;
        position: relative;
    }

    &__closeArea {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 20px;
        min-height: 20px;
        color: $fontDarkGray;
        font-size: $font2;
        padding: 10px;
        cursor: pointer;
        z-index: 1000;
        text-align: right;
    }
}

