@import './utils';

.navbar {
    position: sticky;
    height: 60px;
    border-bottom: $border;

    &__container {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    &__logo {

    }
}
