@import './utils.scss'; 

.trailer {
    

    &__inner {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding-top : 56.25%;
    }

    &__header {
        display: flex;
        justify-content: center;
        color: $fontDarkGray;
        padding-top: 10px;
        margin-bottom: 40px;

        @include tablet {
            margin-bottom: 20px;
        }
    }

    &__youtube {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// .trailer {
//     display: flex;
//     justify-content: center;
//     position: relative;
//     width: 100%;
//     box-sizing: border-box;
//     padding-top : 56.25%;

//     &__youtube {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//     }
// }